.error {
  position: absolute;
  background-color: rgb(177, 16, 16);
  border: solid 1px;
  border-radius: 6px;
  bottom: -25px;
  z-index: 1;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: white;
}
.error:after,
.error:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.error:after {
  border-color: rgba(163, 219, 255, 0);
  border-bottom-color: rgb(177, 16, 16);
  border-width: 6px;
  margin-left: -6px;
}
.error:before {
  border-color: rgba(0, 0, 0, 0);
  border-width: 7px;
  margin-left: -7px;
}
.separ {
  text-align: center;
}

.error_form {
  color: white;
  display: block;
  margin: 10px;
  background-color: rgb(177, 16, 16);
  border-radius: 10px;
}
